.coverage
/cov_annotate
/ansible/base.retry
/ansible/deploy.retry
/ansible/se.retry
/ansible/updater.retry
/files/__pycache__
/ansible/sepol/pspol.pp
/ansible/sepol/reload.stamp
/ansible/sepol/tmp

*.blend
*.blend1
*.psmdl
