[Unit]
Description=ps_coor
Before=nginx.service
BindsTo=nginx.service

[Service]
Type=simple
ExecStart=/usr/local/perdersi/venv/bin/python3 -m startup server_coor
Environment="PYTHONPATH=/usr/local/perdersi/deploy/web"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
WantedBy=nginx.service
